@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@300;400&display=swap');

:root {
    --primary-color:#ccd5ae;
    --secondary-color: #e9edc9;
    --accent1-color: #faedcd;
    --accent2-color: #d4a373;

    --heading-font: 'Lobster', serif;
    --paragraph-font:'Roboto', serif;

    --nav-background-color: #faedcd;
    --nav-link-color: #247b7b;
    --nav-hover-link-color: #48beff;
    --nav-hover-background-color: #ccd5ae;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
    color: #d4a373;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.hero h1{
    position: absolute;
    top: 10px;
    left: 200px;
}



article {
    position: absolute;
    top: 85px;
    left: 90px;
    right: 90px;
    background-color:rgba(254, 250, 224, 0.6);

}

article p {
    color: black;
}


.hero article img {
    width: 20%;
    float: right;
    height: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: 20px;
    
}

section img{
    width: 60%;
    height: auto;
    position: relative;
}

footer nav a{
    text-decoration: none;
}




